# ==============================
# Python
# ==============================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env

# ==============================
# Jupyter Notebook checkpoints
# ==============================
.ipynb_checkpoints/

# ==============================
# Node / React
# ==============================
frontend-react/node_modules/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# ML Model Files
# ==============================
*.h5
*.keras
*.weights.h5

# ==============================
# Temporary files
# ==============================
*.tmp
*.temp
*.cache

# ==============================
# Build folders
# ==============================
dist/
build/